* {
    margin: 0;
    padding: 0;
}

.title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
}

.game {
    height: 85vh;
    width: 100%;
}

.pregame {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.board {
    height: 100%;
    width: 75%;
    background-color: grey;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ship {
    border: 1px solid black;
    height: 75px;
    width: 250px;
}

.controls {
    height: 100%;
    width: 25%;
    border: 1px solid orangered;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.footer {
    height: 5vh;
    border-top: 2px black solid;
}