@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
}


.pregame {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;   
    align-items: center; 
    background-color: #00111C;
    background:  radial-gradient(circle, rgba(3,0,60,1) 0%, rgba(0,0,159,1) 28%, rgba(10,10,126,1) 57%, rgba(0,0,148,1) 87%);
    box-shadow: 2px 0px 3px 1px black;
}

@keyframes removePre {
    from {bottom: 0px;}
    to {bottom: 100%;}
}

.pregame.remove {
    animation: removePre ease-in-out 1.2s forwards;
}


h1 {
    color: white;
}

.title {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3em;
    color: #002E4E;
    text-decoration: white underline;
}

.play-container {
    height: 10vh;
    width: 100vw;
    display: FLEX;
    justify-content: center;
    align-items: center;
}

#play-button {
    color: black;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
    background: none;
    background-color: white;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0px 0px 2px 1px white;
}

#play-button:hover {
    background-color: rgb(219, 219, 219);
}


.game {
    height: 100vh;
    width: 100%;
}

.board-phase {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: centera;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #002E4E;
}


.boards {
    display: flex;
    justify-content: space-evenly;
    max-height: 80%;
    width: 75%;
}

.pc-board, .player-board {
    margin: 3%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    row-gap: 0;
    border: 2px solid black;
    box-shadow: 0px 0px 3px .3px black;
    
}

.cell {
    box-sizing: border-box;
    margin: 0;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.water {
    background-color: #061e30;
}

.shipCell {
    background-color: blueviolet;
}

.cell:hover {
    background-color: rgb(201, 201, 201);
}

#btn-orientation {
    height: 50px;
    width: 150px;
    background-color: rgb(209, 147, 31);
    border: none;
    box-shadow: 0px 1px 3px 1px;
}

.ship {
    height: 100px;
    width: 150px;
    object-fit: contain;
}


.carrier0 {
    background: url('./img/5ship\ full-0.jpg');
    background-size: cover;
}

.carrier1 {
    background: url('./img/5ship\ full-1.jpg');
    background-size: cover;

}

.carrier2 {
    background: url('./img/5ship\ full-2.jpg');
    background-size: cover;

}

.carrier3 {
    background: url('./img/5ship\ full-3.jpg');
    background-size: cover;

}

.carrier4 {
    background: url('./img/5ship\ full-4.jpg');
    background-size: cover;

}

.controls {
    height: 100%;
    width: 15%;
    border: 1px solid orangered;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.footer {
    height: 5vh;
    border-top: 2px black solid;
}

.gameOver {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
}