@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --background-color: rgb(15, 73, 90)
}

.pregame {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;   
    align-items: center; 
    background-color: #00111C;
    background:  radial-gradient(circle, rgba(3,0,60,1) 0%, rgba(0,0,159,1) 28%, rgba(10,10,126,1) 57%, rgba(0,0,148,1) 87%);
    box-shadow: 2px 0px 3px 1px black;
    z-index: 2;
}

@keyframes removePre {
    from {bottom: 0px;}
    to {bottom: 100%;}
}

.pregame.remove {
    animation: removePre ease-in-out 1.2s forwards;
}


h1 {
    color: white;
    text-align: center;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

.title {
    font-size: 1.2em;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One', sans-serif;
    color: #002E4E;
    text-decoration: white underline;
}

.play-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button {
    color: black;
    height: 10%;
    max-height: 100px;
    width: 20%;
    max-width: 150px;
    border: none;
    outline: none;
    background: none;
    background-color: rgb(223, 223, 223);
    font-size: medium;
    font-weight: bold;
    box-shadow: 0px 0px 2px 1px white;
    font-size: 1em;
}

#play-button:hover {
    background-color: rgb(219, 219, 219);
}


.game {
    height: 100vh;
    width: 100%;
}

.board-phase {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
}


.controls {
    border: 3px solid rgb(17, 17, 17);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
}


.controls.hidden {
    animation: removeControls 1s ease-in-out forwards;
}

@keyframes removeControls {
    0% {right: 0px;}
    to {right: 100%;
        display: none;}
}

.board-container::before {
    content: 'Select a ship and place it on the board, press the "horizontal" button to change it back and for between horizontal and vertical';
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
}


.button-container {
    align-self: start;
    margin-bottom: 15%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#place-player-ship, #reset-ship {
    width: 25%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    height: 55px;    
    align-self: flex-end;
    justify-self: center;
    bottom: 5%;
    background-color: #227fc2;
    border: none;
    color: white;
    box-shadow: 0px 0px 3px .8px #00111C;
}

#place-player-ship:hover, #reset-ship:hover {
    background-color: #316a96;

}


#start-game {
    margin-top: 10%;
    justify-self: center;
    align-self: flex-end;
    height: calc(5vh + 25px);
    width: 25%;
    background-color: #002E4E;
    border: none;
    color: white;
    box-shadow: 0px 0px 3px .8px #00111C;
}

#start-game:hover {
    background-color: #11388d;
    box-shadow: 0px 0px 3px .5px rgba(243, 243, 243, 0.267);
}

.board-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: title;
}

.board-frame {
    margin: 3%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    row-gap: 0;
    border: 2px solid black;
    box-shadow: 0px 0px 3px .3px black;
    
}

.board-phase.in-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.board-container.in-game {
    height: 100%;
    width: 100%;
}

.board-container.in-game::before {
    content: 'Your Board';
    color: rgb(161, 161, 161);
}

.board-container.in-game::after {
    content: 'Pc Board';
    font-size: 1.5em;
    color: rgb(161, 161, 161);
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.cell {
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.water {
    background-color: #58b0f3;
}

.shipCell {
    background-color: blueviolet;
}

.hit {
    box-shadow: inset 0 0 0 1000px rgba(66, 66, 66, 0.7);
    z-index: 2;
}


.water-hit::after {
        content: '';
        align-self: center;
        justify-self: center;
        height: 35%;
        width: 35%;
        background-color: #bbb;
        border-radius: 50%;
            border: 1px solid black;
}

.sunk {
    box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, .7);
    z-index: 2;
}

.cell:hover {
    background-color: rgb(201, 201, 201);
}

#btn-orientation {
    height: 50px;
    width: 150px;
    background-color: rgb(209, 147, 31);
    border: none;
    box-shadow: 0px 1px 3px 1px;
}

#btn-orientation:hover {
    background-color: rgb(204, 154, 60);
    box-shadow: 0px 0px 3px .1px rgba(245, 245, 245, 0.267);

}    

.ship {
    height: calc(35% + 10px);
    max-width: calc((100vw / 5) - 30px);
    object-fit: cover;
    transition: all ease-in-out 0.2s;
}

.ship.selected {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 3.5px 1px rgb(0, 0, 0);
}

.ship:hover {
    transform: scale(1.2);
}


.carrier0 {
    background: url('./img/[5]places\ board[0].jpg');
    background-size: cover;
}

.carrier1 {
    background: url('./img/[5]places\ board[1].jpg');
    background-size: cover;

}

.carrier2 {
    background: url('./img/[5]places\ board[2].jpg');
    background-size: cover;

}

.carrier3 {
    background: url('./img/[5]places\ board[3].jpg');
    background-size: cover;

}

.carrier4 {
    background: url('./img/[5]places\ board[4].jpg');
    background-size: cover;
}

.battleship0 {
    background: url('img/[4]places\ board[0].png');
    background-size: cover;
}

.battleship1 {
    background: url('img/[4]places\ board[1].png');
    background-size: cover;
}

.battleship2 {
    background: url('img/[4]places\ board[2].png');
    background-size: cover;
}

.battleship3 {
    background: url('img/[4]places\ board[3].png');
    background-size: cover;
}

.submarine0 {
    background: url('./img/[3]places\ board[0].png');
    background-size: cover;
}

.submarine1 {
    background: url('./img/[3]places\ board[1].png');
    background-size: cover;
}

.submarine2 {
    background: url('./img/[3]places\ board[2].png');
    background-size: cover;
}

.destroyer0 {
    background: url('./img/[2]places\ board[0].png');
    background-size: cover;
}

.destroyer1 {
    background: url('./img/[2]places\ board[1].png');
    background-size: cover;
}

.rotated{
    transform: rotate(90deg);
}


#place-player-ship {
    top: 50%;
    left: 22%;
}



.footer {
    height: 5vh;
    border-top: 2px black solid;
}

.gameOver {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    top: 0;
    left: 0;
}


@media only screen and (min-width: 992px) {
    
    .title {
        font-size: 3em;
        align-items: flex-end;
    }

    .play-container{
        align-items: flex-start;
    }

    .cell {
        height: calc(5vh);
        width: calc(5vh);
    }

    .board-frame {
        margin-top: 3%;

        
    }


    .board-container {
        align-items: flex-start;
        height: 90vh;
        width: 100vw;
    }
    
    .board-container::before {
        color: grey;
        position: absolute;
        align-self: flex-start;
        text-align: center;
    }
    .button-container {
        height: 25%;
    }

    #start-game {
        margin-top: 5%;
    }

    .board-container.in-game::before {
        font-size: 1.5em;
        position: relative;
        left: calc(100vw / 4);
        top: 5%;
    }

    .board-container.in-game::after {
        font-size: 1.5em;
        position: relative;
        right: calc(100vw / 4);
        top: calc(-100vh + 58%);
    }

    .board-container.in-game {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .board-container.in-game > .board-frame > .cell {
        height: 6vh;
        width: 6vh;
    }

}


